<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments/commonFragments :: commonHead">
<title>Home page</title>
</head>

<body>
	<header th:replace="~{fragments/userFragments :: userHeader}"></header>


	<section class="bg-primary">
		<!-- Begin: Slider -->
		<div id="carouselSlider" class="carousel carousel-dark slide"
			data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" aria-current="true"
					data-bs-target="#carouselSlider" th:data-bs-slide-to="0"
					class="active"></button>
				<button type="button" th:each="category, iter : ${categoryList}"
					th:if="${iter.index} >= 1" data-bs-target="#carouselSlider"
					th:data-bs-slide-to="${iter.index}"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item" th:classappend="${categoryStat.index} == 0 ? active:''" data-bs-interval="3000"
					th:each="category : ${categoryList}">
					<img th:src="${category.imageLink}" class="d-block w-100">
					<div class="carousel-caption d-none d-md-block">
						<a class="text-decoration-none" id="carousel-a-tag"
							th:href="@{/products?category_name={categoryName}(categoryName=${category.categoryName})}">
							<h1 class="section-title text-uppercase display-2 mt-5 "
								th:text="${category.categoryName}"></h1>
						</a>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselSlider" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselSlider" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!-- End: Slider -->

		<!-- Begin: Features -->
		<section class="py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="py-5">
							<i class="fas fa-shipping-fast"></i>
							<h4 class="element-title text-capitalize my-3">Fast delivery</h4>
							<p>Experience the lightning-fast delivery service of our
								store, ensuring your orders reach you swiftly and efficiently.</p>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="py-5">
							<i class="fa-solid fa-gift"></i>
							<h4 class="element-title text-capitalize my-3">Special
								packaging</h4>
							<p>Elevate your shopping experience with our store's special
								packaging, meticulously crafted to add an extra touch of
								elegance and care to your purchases.</p>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="py-5">
							<i class="fa-solid fa-rotate"></i>
							<h4 class="element-title text-capitalize my-3">Free returns</h4>
							<p>Enjoy the peace of mind with our store's hassle-free
								return policy, offering complimentary returns on all purchases
								for your convenience.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Features -->

		<!-- Begin: Sale off -->
		<section id="new-arrival"
			class="product-carousel position-relative open-up">
			<div class="container">
				<div
					class="d-flex flex-wrap justify-content-center align-items-center my-5 py-lg-5">
					<hr class="line flex-grow-1 mr-3" />
					<h2 class="text-uppercase mb-0">Sale off</h2>
					<hr class="line flex-grow-1 ml-3" />
				</div>

				<div class="row">
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 1</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 2</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 3</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 4</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center mt-5">
					<a href="#!" class="link-primary text-decoration-none"> View
						All Products </a>
				</div>
			</div>
		</section>
		<!-- Begin: Sale off -->

		<!-- Begin: Best Sellers -->
		<section id="best-seller"
			class="product-carousel position-relative open-up">
			<div class="container">
				<div
					class="d-flex flex-wrap justify-content-center align-items-center my-5 py-lg-5">
					<hr class="line flex-grow-1 mr-3" />
					<h2 class="text-uppercase mb-0">Best sellers</h2>
					<hr class="line flex-grow-1 ml-3" />
				</div>

				<div class="row">
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 1</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 2</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 3</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 mb-4">
						<div class="card position-relative">
							<div class="position-absolute top-0 end-0 mt-2 me-2">
								<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
							</div>
							<div class="position-absolute top-0 end-0 mt-5 me-2">
								<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
							</div>
							<img th:src="@{/img/homepage/product.jpg}" class="card-img-top" />
							<div class="card-body">
								<h5 class="card-title">Product 4</h5>
								<p class="card-text">$19.99</p>
								<a href="#" class="btn btn-primary">Buy Now</a>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center mt-5 pb-5">
					<a href="#!" class="link-primary text-decoration-none"> View
						All Products </a>
				</div>
			</div>
		</section>
		<!-- End: Best Sellers -->
	</section>

	<!-- Footer -->
	<footer th:replace="~{fragments/commonFragments :: footer}"></footer>
</body>

</html>