<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments/commonFragments :: commonHead}">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="~{fragments/userFragments :: userHeader}"></header>
	<div class="container-fluid px-5 pt-5 mt-5 bg-primary">
		<div class="row">
			<div class="col-md-8 order-md-2 col-lg-9">
				<div class="container-fluid">
					<div class="row mb-5">
						<div class="col-12">
							<div
								class="dropdown text-md-left float-md-left mb-3 mt-3 mt-md-0 mb-md-0">
								<label class="mr-2">Sort by:</label>
								<button class="btn btn-lg btn-light dropdown-toggle"
									type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
									aria-expanded="false">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><a class="dropdown-item" href="#">Best Selling</a></li>
									<li><a class="dropdown-item" href="#">Price Descending</a></li>
									<li><a class="dropdown-item" href="#">Price Ascending</a></li>
								</ul>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-6 col-lg-3 mb-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<img src="https://via.placeholder.com/240x240/5fa9f8/efefef"
									class="card-img-top" />
								<div class="card-body">
									<h5 class="card-title">Product 1</h5>
									<p class="card-text">$19.99</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<nav aria-label="Page navigation example" class="">
							<ul id="related-products-pagination"
								class="pagination flex-wrap d-flex justify-content-center">
								<li class="page-item" id="page-previous"><button
										class="page-link" id="page-previous" aria-label="Previous">
										<span aria-hidden="true" class="page-btn-size">&laquo;</span>
										<span class="sr-only" style="font-size: 20px">Previous</span>
									</button></li>

								<li class="page-item"><button class="page-link"
										id="page-next" aria-label="Next">
										<span aria-hidden="true" class="page-btn-size">&raquo;</span>
										<span class="sr-only">Next</span>
									</button></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
				<h3 id="category-name" class="text-uppercase font-weight-bold mb-3"
					th:text="${categoryName}" th:data-category-name="${categoryName}"></h3>
				<div class="mt-2 mb-2 pl-2" th:each="type : ${typeList}">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"> <label
							class="custom-control-label"
							th:text=${stringUtils.normalizeString(type)}></label>
					</div>
				</div>

				<div class="divider mt-icon mb-5 border-bottom border-secondary"></div>
				<h3 class="text-uppercase mt-icon mb-3 font-weight-bold">Brand</h3>
				<div class="mt-2 mb-2 pl-2" th:each="brand : ${brandList}">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input"> <label
							class="custom-control-label"
							th:text=${stringUtils.normalizeString(brand)}></label>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="~{fragments/commonFragments :: footer}"></footer>
	<script type="text/javascript" th:src="@{/js/user/products.js}"></script>

</body>
</html>