<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments/commonFragments :: commonHead}">
	<title>Insert title here</title>
</head>

<body>
	<header th:replace="~{fragments/userFragments :: userHeader}"></header>
	<div class="container-fluid px-5 pt-5 mt-5 bg-primary">
		<div class="row">
			<div class="col-md-4 col-lg-3">asdasd</div>
			<div class="col-md-10 col-lg-9">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">Header</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<a class="card-product-img" href="/product/${product.id}">
									<img src="/img/categories/banner.png" class="card-img-top" />
								</a>
								<div class="card-body">
									<h5 class="card-title text-nowrap text-overflow-ellipsis">${product.name}</h5>
									<p class="card-text fst-italic lead text-nowrap text-overflow-ellipsis"
										style="font-size: 16px">
										${product.description}
									</p>
									<p class="card-text">$${product.price}</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<a class="card-product-img" href="/product/${product.id}">
									<img src="/img/categories/banner.png" class="card-img-top" />
								</a>
								<div class="card-body">
									<h5 class="card-title text-nowrap text-overflow-ellipsis">${product.name}</h5>
									<p class="card-text fst-italic lead text-nowrap text-overflow-ellipsis"
										style="font-size: 16px">
										${product.description}
									</p>
									<p class="card-text">$${product.price}</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<a class="card-product-img" href="/product/${product.id}">
									<img src="/img/categories/banner.png" class="card-img-top" />
								</a>
								<div class="card-body">
									<h5 class="card-title text-nowrap text-overflow-ellipsis">${product.name}</h5>
									<p class="card-text fst-italic lead text-nowrap text-overflow-ellipsis"
										style="font-size: 16px">
										${product.description}
									</p>
									<p class="card-text">$${product.price}</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="card position-relative">
								<div class="position-absolute top-0 end-0 mt-2 me-2">
									<i class="bi bi-heart" style="font-size: 1.5rem;"></i>
								</div>
								<div class="position-absolute top-0 end-0 mt-icon me-2">
									<i class="bi bi-cart" style="font-size: 1.5rem;"></i>
								</div>
								<a class="card-product-img" href="/product/${product.id}">
									<img src="/img/categories/banner.png" class="card-img-top" />
								</a>
								<div class="card-body">
									<h5 class="card-title text-nowrap text-overflow-ellipsis">${product.name}</h5>
									<p class="card-text fst-italic lead text-nowrap text-overflow-ellipsis"
										style="font-size: 16px">
										${product.description}
									</p>
									<p class="card-text">$${product.price}</p>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer th:replace="~{fragments/commonFragments :: footer}"></footer>
	<script type="text/javascript" th:src="@{/js/user/products.js}"></script>

</body>

</html>