<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">

<body>
	<!-- Begin: Register header -->
	<header th:fragment="registerHeader" class="container">
		<header class="d-flex flex-wrap justify-content-start py-3 mb-4">
			<a href="/"
				class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
				<h1 class="h1 me-4">
					<a href="#!" class="link-primary text-decoration-none">AW Cosmetics</a>
					<div class="align-self-center">
						<span class="h2">Sign up</span>
					</div>
				</h1>
			</a>
		</header>
	</header>
	<!-- End: Register header -->
	
		<!-- Begin: Login header -->
	<header th:fragment="loginHeader" class="container">
		<header class="d-flex flex-wrap justify-content-start py-3 mb-4">
			<a href="/"
				class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
				<h1 class="h1 me-4">
					<a href="#!" class="link-primary text-decoration-none">AW Cosmetics</a>
					<div class="align-self-center">
						<span class="h2">Sign in</span>
					</div>
				</h1>
			</a>
		</header>
	</header>
	<!-- End: Login header -->

</body>
</html>