:root {
	--bg-primary:  #F6E7E5;
	--border-primary: #f39aa9;
	--link-primary: #D49696;
	--link-primary-hover:  #91c2d2;
}

.bg-primary {
    background-color: var(--bg-primary) !important; 
}

.border-primary {
    border-color: #f39aa9 !important;
}

.link-primary {
    color: #D49696 !important;
}

.link-primary:hover {
    color: var(--link-primary-hover) !important;
}

.btn-primary {
    background-color: #D49696 !important;
    border-color: darksalmon !important;
}

.text-bg-primary {
    background-color: #f39aa9 !important;
}

.border-primary-subtle {
    border-color: black !important;
}


.wrapper {
    position: relative;
}

.wrapper #cart-number {
    position: absolute;
    top: -5px;
    right: -8px;
    color: white !important;
}

.carousel-inner img {
	display: block; 
	max-width: 100%; 
	max-height: 500px; 
	object-fit: cover
}

.carousel-caption h1 {
	 color:  #F6E7E5 !important;
	 font-weight: bold;
	 text-shadow: 2px 2px 8px #000;
}

.line {
    border: none;
    height: 4px; 
    background-color: #D49696; 
 }
 .eye-icon {
 	cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}
.text-danger {
	font-weight: 500 !important;
}
.text-primary-color, .text-primary-color:hover{
	color: #d49696;
}

.header-bg-color {
	background-color: #edb2b2 !important;
}

#carousel-a-tag:hover {
	opacity: 0.8;
}
.page-btn-size {
	font-size: 18px;
}

.mt-5 {
	margin-top: 5rem !important;
}

.mt-icon {
	margin-top: 3rem !important;
}

.page-link {
	 color: #D49696 !important;
}

#sort-btn {
	display: inline-block !important;
	background-color: white !important;
	color: black !important;
	border-radius: 10px !important;
}

.dropdown-menu {
	--bs-dropdown-link-active-bg: var(--bs-tertiary-bg) !important; 
	--bs-dropdown-link-active-color: black !important;
}

.card-img-top {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
}

.card-title {
	height: 50px;
}
