<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="~{fragments/adminFragments :: adminHead('Categories')}"></head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <ul th:replace="~{fragments/adminFragments :: sidebarAdmin}"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="~{fragments/adminFragments :: topbar}"> </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-md-12 order-md-2 col-lg-12">
                                <div class="container-fluid">
                                    <div class="row mb-3">
                                        <div class="row col-12">
                                            <!-- <div class="restroom mb-4">
                                                <a class="restroom-link" href="/"><i class="fa-solid fa-house"></i></a>
                                                <i class="fa-solid fa-chevron-right"></i>
                                                <a class="fw-bold restroom-link text-success"
                                                    th:href="@{/products/{categoryName}(categoryName=${categoryName})}"
                                                    th:text="${stringUtils.normalizeString(categoryName)}"></a>
                                            </div> -->
                                            <div class="header col-6 d-flex align-items-center">
                                                <span style="font-size: 35px;" id="category-name"
                                                    class="text-primary-color text-uppercase font-weight-bold"
                                                    th:text=${stringUtils.normalizeString(categoryName)}
                                                    th:data-categoryName="${categoryName}"
                                                    th:data-totalProductsByCategory=${totalProductsByCategory}></span>
                                                <button data-bs-toggle="modal" data-bs-target="#create-product-modal"
                                                    title="Add product" class="ms-1 btn btn-secondary col-1">
                                                    <span class="">+</span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-6 col-md-6 col-lg-4 mb-3">

                                            </div>
                                        </div>
                                        <div class="row" id="products-container">
                                        </div>
                                        <!-- Page number -->
                                        <nav>
                                            <ul id="products-by-category-pagination"
                                                class="pagination flex-wrap d-flex justify-content-center mt-2l">
                                                <li class="page-item" id="page-previous"><button class="page-link"
                                                        id="page-previous" aria-label="Previous">
                                                        <span aria-hidden="true" class="page-btn-size">&laquo;</span>
                                                        <span class="sr-only" style="font-size: 20px">Previous</span>
                                                    </button></li>

                                                <li class="page-item"><button class="page-link" id="page-next"
                                                        aria-label="Next">
                                                        <span aria-hidden="true" class="page-btn-size">&raquo;</span>
                                                        <span class="sr-only">Next</span>
                                                    </button></li>
                                            </ul>
                                        </nav>
                                        <!-- End: Page number -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Cosmetics Shop</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script type="text/javascript" th:src="@{/js/admin/products.js}"></script>
        <script type="text/javascript" th:src="@{/js/admin/productCRUD.js}"></script>
        <script type="text/javascript" th:src="@{/js/admin/common.js}"></script>

</body>

<!-- Modal for "Create category"  -->
<div class="modal fade" id="create-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:method="post" action="/admin/product" id="create-product-form" enctype="multipart/form-data"
            class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gy-3 overflow-hidden">
                    <input type="hidden" class="form-control" name="categoryName" id="categoryName"
                        th:value="${categoryName}" placeholder="Enter name" required>
                    <div class="col-12">
                        <label for="image" class="form-label">Choose image</label>
                        <div class="form-floating mb-1">
                            <input type="file" id="image-input" name="image" accept="image/*" class="form-control-file"
                                required>
                            <div class="mt-1">
                                <img id="image-preview" class="card-img-top rounded-top"
                                    style="height: 350px; object-fit: cover;" alt=""
                                    src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg">
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="name" value=""
                                placeholder="Enter name" required>
                            <label for="name" class="form-label">Name</label>
                            <div class="name-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="brand" id="brand" value=""
                                placeholder="Enter brand" required>
                            <label for="brand" class="form-label">Brand</label>
                            <div class="brand-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="price" id="price" value=""
                                placeholder="Enter price" required>
                            <label for="price" class="form-label">Price</label>
                            <div class="price-error text-danger"></div>
                        </div>
                    </div>
                    <!-- <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="rating" id="rating" value=""
                                placeholder="Enter rating" required>
                            <label for="rating" class="form-label">Rating</label>
                            <div class="rating-error text-danger"></div>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="productType" id="productType" value=""
                                placeholder="Enter productType" required>
                            <label for="productType" class="form-label">Product type</label>
                            <div class="productType-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="tagList" id="tagList" value=""
                                placeholder="Enter tagList" required>
                            <label for="tagList" class="form-label">Tag list</label>
                            <div class="tagList-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="tagList" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="description" required>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="submit-btn" class="btn btn-hover btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal for "Update category" -->
<div class="modal fade" id="update-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="update-product-form" action="/admin/product" enctype="multipart/form-data" th:method="put"
            class="modal-content">
            <input type="hidden" name="_method" value="put">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id" name="id">
                <input type="hidden" id="categoryName" name="categoryName">
                <input type="hidden" id="imageLink" name="imageLink" value="">
                <div class="row gy-3 overflow-hidden">
                    <div class="col-12">
                        <label for="image" class="form-label">Choose image</label>
                        <div class="form-floating mb-1">
                            <input type="file" id="image-input" name="image" accept="image/*" class="form-control-file">
                            <div class="mt-1">
                                <img id="image-preview" class="card-img-top rounded-top"
                                    style="height: 350px; object-fit: cover;" alt=""
                                    src="https://t4.ftcdn.net/jpg/04/73/25/49/360_F_473254957_bxG9yf4ly7OBO5I0O5KABlN930GwaMQz.jpg">
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="name" value=""
                                placeholder="Enter name" required>
                            <label for="name" class="form-label">Name</label>
                            <div class="name-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="brand" id="brand" value=""
                                placeholder="Enter brand" required>
                            <label for="brand" class="form-label">Brand</label>
                            <div class="brand-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="price" id="price" value=""
                                placeholder="Enter price" required>
                            <label for="price" class="form-label">Price</label>
                            <div class="price-error text-danger"></div>
                        </div>
                    </div>
                    <!-- <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="rating" id="rating" value=""
                                placeholder="Enter rating" required>
                            <label for="rating" class="form-label">Rating</label>
                            <div class="rating-error text-danger"></div>
                        </div>
                    </div> -->
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="productType" id="productType" value=""
                                placeholder="Enter productType" required>
                            <label for="productType" class="form-label">Product type</label>
                            <div class="productType-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="tagList" id="tagList" value=""
                                placeholder="Enter tagList" required>
                            <label for="tagList" class="form-label">Tag list</label>
                            <div class="tagList-error text-danger"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="tagList" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="description" required>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal for "Delete category"  -->
<div class="modal fade" id="delete-product-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:method="delete" action="/admin/product" id="delete-product-form" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add <input> to map DELETE method -->
                <input type="hidden" name="_method" value="delete">
                <!-- Product Id -->
                <input type="hidden" name="id">
                Are you sure to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="submit-btn" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </div>
</div>

</html>