.bg-primary {
    background-color: #f39aa9 !important; 
}

.border-primary {
    border-color: #f39aa9 !important;
}

.link-primary {
    color: #f39aa9 !important;
}

.link-primary:hover {
    color: #91c2d2 !important;
}

.btn-primary {
    background-color: #f39aa9 !important;
    border-color: darksalmon !important;
}

.text-bg-primary {
    background-color: #f39aa9 !important;
}

.border-primary-subtle {
    border-color: black !important;
}